// Import variables
@import 'variables';


header{
  background-color: rgb(32, 32, 32);
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 0;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  z-index: 2;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: $secondary-color;
  z-index:1; 
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  color: $secondary-color;
  text-decoration: none;
}

